h1{
    color: rgb(78, 160, 194);
    border-bottom: 15px dotted rgb(11, 11, 11);
    font-family: Georgia, serif;
    text-shadow: 1px 1px 2px rgb(1, 1, 1);
}
h2{
    background-color: rgb(176, 200, 210);
    font-family: Georgia, serif;
}
a:link {
    color: blue;
  }
  
  a:visited {
    color: purple;
  }
  
  a:hover {
    text-decoration: none;
  }
  h3{
    background:#eeeeee;
    border:5px solid rgb(4, 4, 4);
    padding:20px 20px 20px 20px;
  }